.subheader {
  text-align: left;
  clear: left;
  height: 2em;
  padding-top: 0.8em;
}

p, ol, ul {
  text-align: left;
}

#mainButton {
  clear: both;
  margin: 30px;
}

.navButton {
  float: left;
  clear: right;
  margin: 4px;
}
