h2, h3 {
  text-align: left;
  clear: left;
}

p, ol {
  text-align: left;
}

#mainButton {
  clear: both;
  margin: 30px;
}

.navButton {
  float: left;
  clear: right;
  margin: 4px;
}

#disclaimer {
  position: fixed;
  bottom: 2em;
}
